@font-face {
    font-family: 'SansationRegular';
    src: font-url('fonts/Sansation/Sansation_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: font-url('fonts/Sansation/Sansation_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: font-url('fonts/Sansation/Sansation_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLightLightItalic';
    src: font-url('fonts/Sansation/Sansation_Light_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationItalic';
    src: font-url('fonts/Sansation/Sansation_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBoldItalic';
    src: font-url('fonts/Sansation/Sansation_Bold_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}