/* New css grid layout */
@mixin grid($rowsz, $colsz, $gap) {
  display: grid;
  grid-template-rows: repeat(auto-fit, $rowsz);
  grid-template-columns: repeat(auto-fit, $colsz);
  grid-gap: $gap;
}
// Media Query mixin
@mixin MQ($canvas) {
	@if $canvas == Mplus {
		@media only screen and (min-width: $M) { @content; }
	}
	@else if $canvas == Lplus {
		@media only screen and (min-width: $L) { @content; }
	}
}