header[role="banner"] {
	
  .site-id {
    margin-left: 1%;
  }
  .logo {
    font-family: $header-font;
    font-size: .5rem;
    margin-bottom: 2rem;
    @include MQ(Mplus) {
        font-size: 2rem;
    }
    @include MQ(Lplus) {
        font-size: 3rem;
    }
    a {
      color: $color1;
      text-decoration: none;
    }
    & a:link, & a:visited {
//    color: #666;
    
    }
  }
  .m-tagline {
	color: $color1;
	font-family: $tagline-font;
    font-style: italic;
	font-size: .875rem;
	margin: -.5rem 0 1rem 4rem;
//	@extend %text-shadow;
	@include MQ(Mplus) {
      font-size: 1rem;
		
	}
	@include MQ(Lplus) {
      font-size: 2rem;
	}
  }
}

.l-main-menu {
  background-color: $color1;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .l-primary-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    @include MQ(Mplus) {
      width: 96%;
      margin: auto;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
  }
  li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid $color2;
    margin: 10px 1rem;
    @include MQ(Mplus) {
      align-content: flex-start;
      border: none;
      width: auto;
    }
    @include MQ(Lplus) {

      }
  }

  a {
    text-decoration: none;
    width: 100%;
    padding-bottom: 2px;
    @include MQ(Mplus) {
      width: auto;
    }
    &:link, &:visited {
      color: $color2;
      display: inline-block;
      @include MQ(Mplus) {
      }
      @include MQ(Lplus) {
      }
    }
    &:hover, &:active {
//      background-color: $color4;
      color: $color6;
      border-bottom: 2px solid;
      padding-bottom: 0;
    }
  }
}
.snippets {
	background-color: #e0e0e0;
	overflow:auto;
	padding: 0.5em 1em;
}
table {
	margin: 1em;
	border: 3px solid #000;
	caption-side: bottom;
	border-collapse: collapse;
}
td, th {
	border: dotted 1px #333;
	padding: 0.5em 1em;
}
th {
	background-color: #4A176C;
	color: #fff;
}
caption {
	font-style: italic;
	padding-top: 0.5em;
}
tr:nth-child(odd) {
	background-color: #e0e0e0;
}
.article_header {
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    margin-bottom: 15px;
}
.article_header h1 {
    font-size: 2em;
    color: $color1;
}
.disclaimers {
  font-size: .875rem;
  border-top: 1px solid $color2;
  img.cclicense {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
  }
}


#grid_table {
//    display: grid;
    @include grid($rowz, $colz, $gap);
    caption {
        justify-content: flex-end;
    }
}
footer[role="contentinfo"] {
	
    position: sticky;
//	@extend %rounded;
  p {
    font-size: .875rem;
    margin: 0;
    padding: .5rem 2rem;
    &:nth-child(1) {
      background-color: $color1;
      color: $color6;
	}
    &:nth-last-child(1) {
      border-top: 1px solid $color1;
      text-align: center;
    }
  }
  a {
    color: $color2;
  }
}
.notes {
  background-color: $color2;
//  margin: 3%;
  padding: 1rem;
  border: 1px solid $color4;
}