// Color variables
$colorPurp: #43125F; // Butler Purple
$colorBackground: #fff; //White
$colorText: #000; //Black

// Default fonts
$body_font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$caption_font: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
$header_font: 'SansationRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$tagline_font: 'SansationItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;

// Setting variables for media queries
$mediaMobile: 360px;
$mediaTablet: 960px;
$mediaDesktop: 1200px;

