<!DOCTYPE html>
<html lang="en">
<head>


    	<!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- Do we Need this??????????-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19389139-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-19389139-1');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Butlercc Webhosting">
    <link rel="stylesheet" href="../css/styles.css">
    <!--
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">   -->
    <!-- Figure out if I want to keep the font-awesome stuff -->
    <link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.css"> 
    
</head>
    <body>
        <header>
                <div id="branding">
                        <h1>ButlerCC Webhosting</h1>
                        <p>Free Webhosting for ButlerCC WebDev Students</p>
                </div>
        </header>
        <!-- add CSS -->
        <div class="sidenav">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <main>
            <div class="main_content_stack">
                <div class="main_content_wrapper">
            <h1>HTML tags and what they do</h1>
            <p>
                if you're anything like I was, starting to learn web development is overwhelming and confusing at the best of times. This library will give you a reference to fall back on if you're ever having trouble remembering something.
            </p>
                <h2>HTML tags top to bottom</h2>
                <textarea rows="30" cols="90">
<!Doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">

            <title>HTML Skeleton</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" href="css/styles.css">
        </head>

        <body>
            <header>
                <nav>
                    <ul>
                        <li></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="headings">
                    <h1></h1>
                    <h2></h2>
                    <h3></h3>
                </div>
                <article>
                    <p>
                    </p>
                </article>
            </main>
        </body>
    </html>
                </textarea>
                </div>
            </div>
        </main>
    </body>
</html>

    