<!DOCTYPE html>
<html lang="en">
<head>


    	<!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- Do we Need this??????????-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19389139-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-19389139-1');
    </script>
    <title>HTML Tag Tutorial</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Butlercc Webhosting">
    <link rel="stylesheet" href="../css/styles.css">
            <!-- Figure out if I want to keep the font-awesome stuff -->
    <!-- <link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.css">  -->
    
</head>
    <body>
        <header>
                <div id="branding">
                        <h1>ButlerCC Webhosting</h1>
                        <p>Free Webhosting for ButlerCC WebDev Students</p>
                </div>
        </header>
        <!-- add CSS -->
        <div class="sidenav">
            <a href="">#1</a>
            <a href="">#2</a>
            <a href="">#3</a>
            <a href="">#4</a>
            <a href="">#5</a>
        </div>
        <main>
            <div class="main_content_stack">
                <div class="main_content_wrapper">
                    <h1>HTML tags and what they do</h1>
                    <p>
                        If you're anything like I was, starting to learn web development is overwhelming and confusing at the best of times.</p>
                    <p>
                        This library will give you a reference to fall back on if you're ever having trouble remembering something.
                    </p>
                    <h2>HTML tags top to bottom</h2>
                    <textarea rows="36" cols="90">
&lt;!DOCTYPE html>
    &lt;html lang="en">
        &lt;head>
            &lt;meta charset="utf-8">

            &lt;title>HTML Skeleton&lt;/title>
            &lt;meta http-equiv="X-UA-Compatible" content="IE=edge">
            &lt;meta name="viewport" content="width=device-width, initial-scale=1">

            &lt;link rel="stylesheet" href="css/styles.css">
        &lt;/head>

        &lt;body>
            &lt;header>
                &lt;nav>
                    &lt;ul>
                        &lt;li>&lt;/li>
                    &lt;/ul>
                &lt;/nav>
            &lt;/header>
            &lt;main>
                &lt;div class="headings">
                    &lt;h1>&lt;/h1>
                    &lt;h2>&lt;/h2>
                    &lt;h3>&lt;/h3>
                &lt;/div>
                &lt;article>
                    &lt;p>
                    &lt;/p>
                &lt;/article>
            &lt;/main>
        &lt;/body>
        &lt;footer>
        &lt;/footer>
    &lt;/html>
                    </textarea>
                    <h2>Break down</h2>
                    <p>Let's start at the top and work our way down</p>
                        <div class="card_container">
                        <h3 class="card_header">&lt;!DOCTYPE html&gt;:</h3>
                        <p class="card_desc">This line of code should always be your fist line in any html document. It tells the browser what HTML version the file is written in. </p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;html&gt;:</h3>
                        <p class="card_desc">This tag defines the root of any HTML documentu, you can also set the default language.</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;head&gt;:</h3>
                        <p class="card_desc">This defines the infomation about the document, sets area for meta data and such.</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;meta&gt;:</h3>
                        <p class="card_desc">Area to input the meta data, such as the charset, viewport, and other document infomation.</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;title&gt;:</h3>
                        <p class="card_desc">Let's you set the title of the page, not listed on the page however.</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;link&gt;:</h3>
                        <p class="card_desc">Allows you to link outside files. Used to pull in stylesheets, picture files, external websites and such.</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;body&gt;:</h3>
                        <p class="card_desc">This defines the body of the page</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;headerl&gt;:</h3>
                        <p class="card_desc">Sets the header, information that should stay at the top of the page such as the logo or a navigation</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;nav&gt;:</h3>
                        <p class="card_desc">Defines any navigation links</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;ul&gt;:</h3>
                        <p class="card_desc">Unordered list</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;li&gt;:</h3>
                        <p class="card_desc">Formats info into a list</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;main&gt;:</h3>
                        <p class="card_desc">Sets the area for the main content of the page</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;div&gt;:</h3>
                        <p class="card_desc">Defines a section</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;class&gt;:</h3>
                        <p class="card_desc">Lets you define a class within the tags</p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;h1&gt;:</h3>
                        <h1 class="card_desc">Heading 1</h1>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;h2&gt;:</h3>
                        <h2 class="card_desc">Heading 2</h2>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;h3&gt;:</h3>
                        <h3 class="card_desc">Heading 3</h3>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;article&gt;:</h3>
                        <p class="card_desc">Defines an article, the content should be able to make sense on it's own. </p>
                        </div>

                        <div class="card_container">
                        <h3 class="card_header">&lt;footer&gt;:</h3>
                        <p class="card_desc">Defines the area for the footer, information that should stay at the bottom of the screen. Copyright infomation and the date are commonly used.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>

    </footer>
</html>

    