<!DOCTYPE html>
<html lang="en">
<head>
    	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-19389139-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-19389139-1');
    </script>

    <title>HTML Template</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Butlercc Webhosting">
    <link rel="stylesheet" href="../css/styles.css">    
</head>
    <body>
        <header>
                <div id="branding">
                    <h1>HTML and CSS Tutorial </h1>
                    <p>Created by Jacob Jordan</p>
                </div>
                <!-- <div>
                    <nav class="top_nav">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                </div> -->
        </header>
        <div class="sidenav">
            <a href="tags.html">HTML Tags Tutorial</a>
            <a href="elements.html">Cards, Buttons, etc...</a>
            <a href="">#3</a>
            <a href="">#4</a>
            <a href="">#5</a>
        </div>
        <main>
        <article>
            <div class="main_content_stack">
                <div class="main_content_wrapper">
                    <h1>Page Title</h1>
                        <p> Content goes here</p>
                        <p> Content goes here</p>

                        <div class="card_container">
                        <h3 class="card_header">Card Title</h3>
                        <p class="card_desc">Card information goes here.</p>
                        </div>
                    </div>
                </div>
            </div>
            </article>
        </main>
    </body>
    <footer class="page_footer" style="bottom: 0%; position: absolute; width: 100%;">
        <p>&copy; 2019 Jordan Tech Solutions. All rights reservered.</p>
    </footer>
</html>

    